<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/hero-image1.png" width="600" height="510" class=" d-block mx-lg-auto img-fluid rounded-circle" loading="lazy" alt="">
    </div>

    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3">
           Welcome to Carribean Heat's Online Menu
        </h1>
        <p class="description"></p>

        <div class="d-grid gap-2 d-md-felx justify-content-md-start">
<p></i>Looking to order via UberEats or SkipTheDishes?</p>

<a href="https://bit.ly/3S5gGnQ" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">UberEats</a>
<a href="https://www.skipthedishes.com/caribbean-heat" class="btn btn-primary btn-warning btn-lg px-4 me-md-2">SkipTheDishes</a>



<!-- Looking to order via UberEats or SkipTheDishes?

            <a href="/random-recipe" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Click Here</a> -->

        </div>
    </div>


</div>


<!-- Categories Start -->
<div class="d-flex mb-2 align-items-center">
    <h2>Food</h2>
</div>

<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">


    <% if (categories != "") {  %> 
<%  categories.forEach(function (category, index) {  %>
    <a href="/categories/<%- category.name %>" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="img/<%- category.image %> " alt="<%- category.name %> " loading="lazy">
        </div>
        <div class="pt-1">
            <%- category.name %> 
        </div>
    </a>    
<% })%>
<% } %> 


    <a href="/categories" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="img/view-all.jpg" alt="View Selections Of Food" loading="lazy">
        </div>
        <div class="pt-1">
            View All
        </div>
    </a>


</div>

<!-- Categories End -->

<!-- Latest Start -->

<section class="pb-4 pt-4">

    <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3">
        <a href="/recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="img/vegetables.jpg" alt="Chocolate Banoffe" loading="lazy">
            </div>
            <div class="pt-1">Vegetables</div>
        </a>

        <a href="/recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="img/bbq-roast.jpg" alt="Chocolate Banoffe" loading="lazy">
            </div>
            <div class="pt-1">BBQ Roast</div>
        </a>


        <a href="/recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="img/lo-mein.jpg" alt="Chocolate Banoffe" loading="lazy">
            </div>
            <div class="pt-1">Lo Mein</div>
        </a>


        <a href="/recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="img/egg-fu-yung.jpg" alt="Chocolate Banoffe" loading="lazy">
            </div>
            <div class="pt-1">Egg Fu Yung</div>
        </a>


        <a href="/recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="img/curry-dishes.jpg" alt="Chocolate Banoffe" loading="lazy">
            </div>
            <div class="pt-1">Curry Dishes</div>
        </a>

<a href="/recipe/#" class="col text-center category__link">
    <div class="category__img category__img--large shadow">
        <img src="img/szechaun-dishes.jpg" alt="Chocolate Banoffe" loading="lazy">
    </div>
    <div class="pt-1">Szechuan Dishes</div>
</a>


    </div>


</section>


<!-- Latest End -->

<!-- Submit - Start -->

<section class="px-4 py-5 my-5 text-center">
    <img src="/img/publish-recipe.png" class=" d-block mx-auto mb-4 img-fluid" alt="Publish your own recipe" width="566" height="208" loading="lazy">
    <div class="col-lg-6 mx-auto">
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/submit-recipe" class="btn btn-primary btn-dark btn-lg">Click To See Our Catering Menu </a>
        </div>
    </div>
</section>


<!-- Submit - End-->
